@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-background: #000000;
  --color-secondary-background: #121212;
  --color-hover: #181818;
}

.blog-post h2{
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}